* {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(38, 38, 38);
  background-image: url("/img/bright-squares.png");
  position: relative;
}

#base {
  border: 3px solid rgb(5, 141, 141); 
  border-radius: 12px;
  width: 800px;
  height: 550px;
  background-color: rgba(242, 242, 242);
  margin: auto;
  margin-top: 30px;
}

#instructions {
  background-color: rgba(242, 242, 242);
  text-align: left;
}

h2 {
  background-color: rgba(242, 242, 242);
  text-shadow: 1.5px 1.5px rgb(85, 84, 84);
  font-size: 2em;
}

p {
  background-color: rgba(242, 242, 242);
  font-size: 1em;
}

ul {
  background-color: rgba(242, 242, 242);
  font-size: 1em;
}

li {
  background-color: rgba(242, 242, 242);
  font-size: 1em;
}

#key {
  background-color: rgba(242, 242, 242);
  position: relative;
}

#keyBtn {
  color: rgba(242, 242, 242);
  cursor: pointer;
}

#keyText {
  background-color: rgba(242, 242, 242);
}

#boxSet {
  background-color: rgba(242, 242, 242);
}

#codeBox {
  width: 300px;
  height: 80px;
  background-color: rgb(38, 38, 38);
  color: rgb(255, 255, 255);
  resize: none;
}

#codeBtn {
  background-color: rgb(5, 141, 141);
  position: relative;
  top: -25px;
}

#codeBtn:hover {
  background: aliceblue;
  cursor: pointer;
}

#decodeBox {
  width: 300px;
  height: 80px;
  background-color: rgb(38, 38, 38);
  color: rgb(255, 255, 255);
  resize: none;
}

#decodeBtn {
  background-color: rgb(5, 141, 141);
  position: relative;
  top: -25px;
}

#decodeBtn:hover {
  background: aliceblue;
  cursor: pointer;
}